<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{head_title}}</title>

    <!-- Bootstrap core CSS -->
	  <link rel="stylesheet" href="{{assets}}/bower_components/bootstrap/dist/css/bootstrap.min.css">
	  <link rel="stylesheet" href="{{assets}}/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

	  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{assets}}/bower_components/html5shiv/dist/html5shiv-printshiv.js"></script>
      <script src="{{assets}}/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{assets}}/gen/style.css">

    <!--GA-->
    {{> ga }}

  </head>
  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div class="jumbotron info-header">
        <div class="container info-header-content">
          <h1>{{title}}</h1>
          <h2>{{subtitle}}</h2>
          <p>
          이제부터는 중간상인을 거치지 말고 개인정보를 직접 사고팔자!<br/>
          </p>
          <p><a class="btn btn-primary btn-lg btn-start" role="button">시작하기</a></p>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">존재하면 안되는 서비스</h4>
          </div>
          <div class="modal-body">
          <p>
          페이지를 읽어보시면 만든 의도를 아마도 이해할 수 있을겁니다.
          하지만 <a href="http://blog.rainygirl.com/?p=960">의도를 이해 못하고 소설을 쓰는 사태</a>를 막기 위해서 간단히 작성합니다.
          </p>

          <p>
          이 페이지를 만든건 저도 피해자 중 한명이기 때문입니다.
          아무리 생각해도 빡쳐서 지인들의 도움을 받아 까기 위해서 만들었습니다.
          까고싶은 내용이 많지만 여백이 좁아서 <a href="http://rigvedawiki.net/r1/wiki.php/%EC%B9%B4%EB%93%9C%EC%82%AC%20%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%20%EC%9C%A0%EC%B6%9C%EC%82%AC%EA%B1%B4" target="_blank">교학사 교과서가 신뢰하는 리그베다 위키</a>로 대신합니다.
          </p>
          </div>
          <div class="modal-footer">
            <a href="http://rigvedawiki.net/r1/wiki.php/%EC%B9%B4%EB%93%9C%EC%82%AC%20%EA%B0%9C%EC%9D%B8%EC%A0%95%EB%B3%B4%20%EC%9C%A0%EC%B6%9C%EC%82%AC%EA%B1%B4" class="btn btn-primary" target="_blank">리그베다 위키</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <!--<button type="button" class="btn btn-primary">Save changes</button>-->
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        {{#each marketing_list}}
        <div class="col-lg-4">
          <img class="img" src="{{../assets}}{{img}}" alt="{{alt}}" width="140" height="140">
          <h2>{{title}}</h2>
          <p>{{#markdown}}{{desc}}{{/markdown}}</p>
          <p><a class="btn btn-default" href="{{link_url}}" role="button" target="_blank">{{link_btn}}</a></p>
        </div><!-- /.col-lg-4 -->
        {{/each}}
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">

      {{#each feature_list}}
      <div class="row featurette">
        {{#if mode}}
        <div class="col-md-9">
          <h2 class="featurette-heading">{{title}}<span class="text-muted">{{subtitle}}</span></h2>
          <div class="lead">
            {{#markdown}}{{desc}}{{/markdown}}
          </div>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{{../../assets}}{{img}}" alt="Generic placeholder image">
        </div>
        {{else}}
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{{../../assets}}{{img}}" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h2 class="featurette-heading">{{title}}<span class="text-muted">{{subtitle}}</span></h2>
          <div class="lead">
            {{#markdown}}{{desc}}{{/markdown}}
          </div>
        </div>
        {{/if}}
      </div>
      <hr class="featurette-divider">
      {{/each}}

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{{assets}}/img/clock.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h2 class="featurette-heading">회사연혁<span class="text-muted"></span></h2>
          <div class="lead">
            <ul>
              <li>2012.07.29 - <strong>KT</strong> 873만명</li>
              <li>2014.01.18 - KB국민카드, NH농협카드, 롯데카드 개인정보 유출 약 1억건</li>
              <li>2014.01.21 - Trade My Info 서비스 시작</li>
              <li>2014.02.28 - 네이버 20만명</li>
              <li>2014.03.06 - <strong>KT</strong> 1200만명 (답이 없는 <strong>KT</strong>. 또냐?)</li>
              <li>2014.03.07 - <a href="http://news.naver.com/main/read.nhn?mode=LPOD&mid=sec&oid=001&aid=0006795355&isYeonhapFlash=Y">티몬</a> 113만명</li>
              <li>2014.03.07 - <a href="http://www.newsis.com/ar_detail/view.html?ar_id=NISX20140307_0012771958&cID=10402&pID=10400">올레뮤직</a> 50만명</li>
              <li>2014.03.07 - <strong>Sk텔레콤, LGU+</strong> <a href="{{assets}}/img/NISI20140311_0009454244_web.jpg">철벽방어</a> <a href="http://www.newsis.com/ar_detail/view.html?ar_id=NISX20140311_0012779662&cID=10402&pID=10400">선언</a></li>
              <li>2014.03.11 - <a href="http://www.newspim.com/view.jsp?newsId=20140311000288"><strong>LGU+, SK브로드밴드</strong></a> 1230만건</li>
              <li>2014.03.17 - <a href="http://news.nate.com/view/20140317n19963?mid=n1006">CJ대한통운</a></li>
              <li>Next?</li>
            </ul>
            참고자료 : <a href="http://rigvedawiki.net/r1/wiki.php/개인정보 유출사태">개인정보 유출사태 - 리그베다 위키</a>
          </div>
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="{{assets}}/img/news.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h2 class="featurette-heading">보도자료<span class="text-muted"></span></h2>
          <div class="lead">
            <ul>
              <li><a href="http://www.hani.co.kr/arti/economy/economy_general/621100.html">‘카드사 개인정보 유출’ 풍자 패러디 사이트 등장 - 한겨레</a>
              </li>
              <li><a href="http://news1.kr/articles/1510564">'개인정보, 제값 받고 직접 팔자' 패러디 사이트 등장 - news1</a>
              </li>
              <li><a href="http://www.mt.co.kr/view/mtview.php?type=1&no=2014012315375980624&outlink=1">"건당 500원에 판다" 개인정보 유출 사건 패러디 직접 보니··· - 머니투데이</a>
              </li>
              <li><a href="http://slownews.kr/18420">“제발 이 사태를 잊지 마라” 온라인 개인정보거래소 제작자 인터뷰 - slownews<a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
      {{> disqus }}

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014
          {{#each contributor_list}}
          <a href="{{url}}">{{name}}</a> |
          {{/each}}
        </p>
      </footer>

    </div><!-- /.container -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{assets}}/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{assets}}/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="{{assets}}/js/holder.js"></script>
    <script src="{{assets}}/js/common.js"></script>
  </body>
</html>
